@using Microsoft.Extensions.Configuration
@inject BookStore.Repository.IBookRepository _bookRepo
@inject IConfiguration _configuration
<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3 navbar-toggler">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="~/images/logo.png" width="40" height="40" asp-append-version="true" />
                @_bookRepo.GetAppName()
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav">
                   <partial name="_LoginInfo" />

                </ul>

                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="aboutus">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="contactus">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Book" asp-action="getallbooks">All Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Book" asp-action="AddNewBook">Add New Book</a>
                    </li>


                </ul>
            </div>

        </div>
    </nav>

    @*<div class="alert alert-info" role="alert">

    </div>*@
</header>